/* this is a custom CSS stylesheet */


body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    line-height: 150%;
    color: rgb(68, 68, 68);
    background-color: rgb(252, 252, 252);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 4.0vh;
    
}

h2 {
    font-family: 'Linden Hill', serif;
    font-size: 21px;
    font-weight: 400;
    color: rgb(68, 68, 68);
    font-stretch: ultra-condensed;
    line-height: 150%;
}

h3 {
    font-family: "'PT Serif'",serif;
    font-size: 17px;
    line-height: 1.647;
    color: #444444;
    margin: 0 0 20px;
}

.byline {
    color: #a1a1a1;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px;
}

.border-bottom {
    border-bottom: 1px solid #D8D8D8
}

.pad-theme-top {
    margin-top: 130px;
}

.pad-top {
    margin-top: 30px;
}

.pad-top-more {
    margin-top: 70px;
}


.top-bar {
    padding-top: 2px;
    padding-left: 40px;
}

.navbar {
    background:#444444;
    height: 110px;
    color: white;
}

.pspace {
    margin-bottom: 30px;
}

#south {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 19px;
}

.border-small {
    border-top-style: solid;
    border-top-color: #444444;
    border-top-width: 1px;

}

.mini-orange-block {
    background: #FF6839;
    width: 2%;
    height: 45px;
    margin: auto;
    margin-left: -10px;
    float: left;
}

.grey-block {
    padding: 12px 10px 0px 34px; 
    background: #444444;
    width: 100%;
    height: 45px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-left: -10px;
    color: white;
}

.orange-block {
    padding: 12px 10px 0px 24px; 
    background: #FF6839;
    width: 100%;
    height: 45px;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-left: -10px;
    color: white;
}

.subdef {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    color: #444444;
    
}

.footer {
    width: 100%;
    height: 100px;

    background-color: #F8F8F8;
    margin-top: 30px;
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #A1A1A1;


}
